.header {
  display: flex;
  align-items: center;
  background: #212121;
  color: #fff;
  padding: 10px 20px;
}
.logo {
  font-size: 24px;
  font-weight: bold;
}
.search {
  flex: 1;
  margin: 0 20px;
  padding: 7px;
  border-radius: 2px;
  border: none;
}
.icons i {
  margin-left: 20px;
  cursor: pointer;
}