.sidebar {
  background: #202020;
  width: 200px;
  min-height: 100vh;
  padding-top: 32px;
}
.sidebar ul {
  list-style: none;
  padding: 0;
}
.sidebar li {
  padding: 14px 24px;
  cursor: pointer;
  font-size: 1.1rem;
}
.sidebar li:hover {
  background: #191919;
}